body {
	min-width:380px;
	margin:12px;
	-webkit-user-select:none;
	user-select:none;
}
body, button {
	font-family:Tahoma, Verdana, Sans-Serif;
	font-size:.7rem;
}
table {
	width:100%;
	border-radius: 3px;
	margin-top: .5em;
}
h1 {
	font-size:large;
}
thead td {
	background-color:silver;
	text-align:left;
	font-weight:bold;
	vertical-align: middle;
	padding: .3rem;
}
td {
	vertical-align:middle;
	border-bottom:1px solid silver;
}
td:nth-child(2) {
	text-align:right;
	width:5rem;
}
a {
	text-decoration:none;
}
ul {
	margin:0;
}
td button {
	float:right;
}
#newTabsetName {width:200px;}
button {
	font-weight:bold;
	border-radius:.6rem;
	color:#111;
}
.delete {
	color:yellow;
	background-color:red;
}
.defaultAction {
	background-color:limegreen;
	padding:.1rem .6rem;
}
.open {
	background-color:skyblue;
	padding:.1rem .6rem;
}
.tabsetTitle {
	max-width:195px;
	display:inline-block;
	cursor:pointer;
}